<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
{% include "components/head.html" %}
	<body>
{% include "components/choose-lang.html" %}
{% include "components/header.html" %}
		<h2>{{ _("entry with id") }} {{ item.id() }}:</h2>
		<div class="content">
{% include "components/item.html" %}
			<div class="center">
				<span class="action" id="bugReport" onclick="toggleReportForm()">{{ _("report_bug") }}</span>
			</div>
			<div id="reportForm" class="center" style="display: none;">
				<form action="/bib/books/{{ item.id() }}" method="post">
					<table>
						<tr>
							<td>{{ _("introduce") }}:</td>
							<td>
								<input type="text" name="name" required="required"/>
							</td>
						</tr>
						<tr>
							<td>{{ _("email") }}:</td>
							<td>
								<input type="email" name="email" pattern=".+@.+" required="required"/>
							</td>
						</tr>
						<tr>
							<td>{{ _("describe_problem") }}:</td>
							<td>
								<textarea name="message" cols="50" rows="10" maxlength="500" required="required"></textarea>
							</td>
						</tr>
					</table>
				</form>
				<button onclick="sendReportForm()">{{ _("send") }}</button>
			</div>
			<hr/>
{% include "components/footer.html" %}
		</div>
	</body>
</html>
