<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
	{% include "components/head.html" %}
	<body>
		{% include "components/choose-lang.html" %}
		{% include "components/header.html" %}
		<h2>{{ _("interface:single_entry") }} {{ item.id() }}:</h2>
		<div class="content">
			{% include "components/item.html" %}
			<div class="center">
				<span class="action" id="reportFormToggle">{{ _("interface:report:error-form-title") }}</span>
				<span class="action" id="keywordFormToggle">{{ _("interface:report:keyword-form-title") }}</span>
			</div>
			<div id="reportForm" class="center hidden">
				<form action="/bib/books/{{ item.id() }}" method="post">
					<table>
						<tr>
							<td>{{ _("interface:report:name") }}:</td>
							<td>
								<input type="text" name="name" required="required"/>
							</td>
						</tr>
						<tr>
							<td>{{ _("interface:report:email") }}:</td>
							<td>
								<input type="email" name="email" pattern=".+@.+" required="required"/>
							</td>
						</tr>
						<tr>
							<td>{{ _("interface:report:questions:" + captcha_key) }}:</td>
							<td>
								<input type="hidden" name="captcha_key" value="{{ captcha_key }}"/>
								<input type="text" name="captcha_answer" required="required"/>
							</td>
						</tr>
						<tr>
							<td>{{ _("interface:report:description") }}:</td>
							<td>
								<textarea name="message" cols="50" rows="10" maxlength="500" required="required"></textarea>
							</td>
						</tr>
					</table>
				</form>
				<button id="reportFormSubmitter">{{ _("interface:buttons:send") }}</button>
			</div>
			<div id="keywordForm" class="center hidden">
				<form action="/bib/books/{{ item.id() }}/keywords" method="post">
					<table>
						<tr>
							<td>{{ _("interface:report:name") }}:</td>
							<td>
								<input type="text" name="name" required="required"/>
							</td>
						</tr>
						<tr>
							<td>{{ _("interface:report:email") }}:</td>
							<td>
								<input type="email" name="email" pattern=".+@.+" required="required"/>
							</td>
						</tr>
						<tr>
							<td>{{ _("interface:report:questions:" + captcha_key) }}:</td>
							<td>
								<input type="hidden" name="captcha_key" value="{{ captcha_key }}"/>
								<input type="text" name="captcha_answer" required="required"/>
							</td>
						</tr>
						<tr>
							<td>{{ _("interface:report:keywords") }}:</td>
							<td>
								<input id="keywords" type="text" readonly="readonly" name="keywords"/>
								<div id="keywordsButtons"/>
							</td>
						</tr>
					</table>
				</form>
				<button id="keywordFormSubmitter">{{ _("interface:buttons:send") }}</button>
			</div>
			<hr/>
			{% include "components/footer.html" %}
		</div>
	</body>
</html>
