<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
	<head>
        {% include "components/head-meta-common.html" %}
        {% include "components/head-link.html" %}
        {% include "components/head-script.html" %}
        <title>{{ _("interface:title") }}</title>
    </head>
	<body>
		{% include "components/choose-lang.html" %}
		{% include "components/header.html" %}
		<h2>{{ _("errors:http:oops") }}</h2>
		<div class="center">
			<span>
				{% set translation_prefix = "errors:http:" + (error.code | string) %}
				<h3>{{ _(translation_prefix + ":cite") }}</h3>
				<h3>{{ _(translation_prefix + ":description") }}</h3>
				<h3>{{ error.description }} ({{ _("errors:http:code") }}: {{ error.code }})</h3>
			</span>
			<hr/>
			{% include "components/footer.html" %}
		</div>
	</body>
</html>
