<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
	<head>
        {% include "components/head-meta-common.html" %}
        {% include "components/head-link.html" %}
        {% include "components/head-script.html" %}
		<meta name="og:title" content="{{ _("interface:title") }}"/>
        <meta name="og:type" content="website"/>
        <meta name="og:description" content="Historical dance bibliography"/>
        <meta name="og:image" content="/images/icon/persimmon.032x032.png"/>
        <meta name="og:url" content="{{ request.url }}"/>
		<title>{{ _("interface:title") }}</title>
	</head>
	<body>
		{% include "components/choose-lang.html" %}
		{% include "components/header.html" %}
		<h2>{{ ngettext("interface:total-entries", "interface:total-entries", entry_count) }}.</h2>
		<div class="content">
			{% include "components/search-form.html" %}
			<hr/>
			{% include "components/footer.html" %}
		</div>
	</body>
</html>
