<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
{% include "components/head.html" %}	
	<body>
{% include "components/choose-lang.html" %}
{% include "components/header.html" %}
{% if items %}
		<h2>{{ ngettext("total %(num)d entry", "total %(num)d entries", items|length) }}.</h2>
{% endif %}
{% if found_items %}
		<h2>{{ ngettext("found %(num)d entry", "found %(num)d entries", found_items|length) }}.</h2>
{% endif %}
{% if search_params and not found_items %}
		<h2>{{ _("nothing found") }}.</h2>
{% endif %}
{% if not search_params %}
{% set search_params = {} %}
{% endif %}
		<h2>{{ _("can") }} <a href="/bib/all.html">{{ _("display everything") }}</a> {{ _("or use the search") }}:</h2>
		<div class="content">
			<form id="search" action="/bib/index.html">
				<table>
					<tr>
						<td>{{ _("author") }}:</td>
						<td>
							<input type="text" name="author" value=""/>
						</td>
					</tr>
					<tr>
						<td>{{ _("title") }}:</td>
						<td>
							<input type="text" name="title" value=""/>
						</td>
					</tr>
					<tr>
						<td>{{ _("year") }}:</td>
						<td>
							{{ _("year_from") }} <input type="number" name="year_from" value=""/>
							{{ _("year_to") }} <input type="number" name="year_to" value=""/>
						</td>
					</tr>
					<tr>
						<td>{{ _("langid") }}:</td>
						<td>
							<select name="langid" id="langid">
								<option value="">{{ _("any") }}</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>{{ _("publisher") }}:</td>
						<td>
							<input type="text" name="publisher" value=""/>
						</td>
					</tr>
					<tr>
						<td>{{ _("location") }}:</td>
						<td>
							<input type="text" name="location" value=""/>
						</td>
					</tr>
					<tr>
						<td>{{ _("keywords") }} ({{ _("comma separated") }}):</td>
						<td>
							<input type="text" name="keywords" value=""/>
						</td>
					</tr>
				</table>
			</form>
			<div class="center">
				<button onclick="submitSearchForm()">{{ _("search") }}</button>
				<button onclick="clearSearchForm()">{{ _("clear") }}</button>
			</div>
{% if found_items %}
{% for item in found_items %}
{% include "components/item.html" %}
{% endfor %}
{% else %}
			<hr/>
{% endif %}
{% include "components/footer.html" %}
		</div>
	</body>
</html>
