<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
	<head>
		{% include "components/head-meta-common.html" %}
		{% include "components/head-link.html" %}
		{% include "components/head-script.html" %}
        <meta name="og:title" content="Historical dance bibliography search"/>
        <meta name="og:type" content="website"/>
        <meta name="og:description" content="Search result: {{ ngettext("interface:found-entries", "interface:found-entries", found_items | length) }}"/>
        <meta name="og:image" content="/bib/images/icon/persimmon.032x032.png"/>
        <meta name="og:url" content="{{ request.url }}"/>
        <title>{{ _("interface:title") }}</title>
	</head>
	<body>
		{% include "components/choose-lang.html" %}
		{% include "components/header.html" %}
		{% if found_items %}
		<h2>{{ ngettext("interface:found-entries", "interface:found-entries", found_items | length) }}.</h2>
		{% else %}
		<h2>{{ _("interface:found-none") }}.</h2>
		{% endif %}
		<div class="content">
		{% include "components/search-form.html" %}
		{% if found_items %}
			{% for item in found_items %}
				{% include "components/item.html" %}
				<hr/>
			{% endfor %}
		{% else %}
			<hr/>
		{% endif %}
		{% include "components/footer.html" %}
		</div>
	</body>
</html>
