[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

indent_style = tab
indent_size = 4
tab_width = 4

charset = utf-8

[{GNUMakefile,makefile,Makefile,*.mk}]
indent_style = tab

[debian/control]
indent_style = space

[*.md]
charset = utf-8-bom

[{*.dat,*.bin}]
insert_final_newline = false
trim_trailing_whitespace = false

[*.yml]
indent_style = space
tab_width = 2
indent_size = 2
