babel==2.17.0
beautifulsoup4==4.14.3
click==8.3.1
Flask==3.1.2
flask-babel==4.0.0
Flask-Markdown==0.3
fpdf2==2.8.5
ipython==9.9.0
Markdown==3.10
mkdocs==1.6.1
pdfly==0.5.1
pillow==12.1.0
pipdeptree==2.30.0
psycopg2-binary==2.9.11
pyflakes==3.4.0
pyjson5==2.0.0
pymdown-extensions==10.20
pytest==9.0.2
python-stdnum==2.2
pytrovich==0.0.5
requests==2.32.5
s3cmd==2.4.0
SQLAlchemy==2.0.45
Unidecode==1.4.0
Werkzeug==3.1.5
yandex-pgmigrate==1.0.10
