Babel==2.15.0
beautifulsoup4==4.12.3
click==8.1.7
Flask==3.0.3
flask-babel==4.0.0
Flask-Markdown==0.3
fpdf==1.7.2
ipython==8.24.0
Markdown==3.6
mkdocs==1.6.0
pillow==10.3.0
pipdeptree==2.20.0
psycopg2-binary==2.9.9
pyflakes==3.2.0
pyjson5==1.6.6
pytest==8.2.0
python-stdnum==1.20
pytrovich==0.0.4
requests==2.31.0
SQLAlchemy==2.0.30
Unidecode==1.3.8
Werkzeug==3.0.3
yandex-pgmigrate==1.0.8
