appdirs==1.4.0
Babel==2.3.4
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.5.3
certifi==2017.1.23
click==6.7
DAWG-Python==0.7.2
decorator==4.0.11
docopt==0.6.2
Flask==0.12
Flask-Babel==0.11.1
ipython==5.2.2
ipython-genutils==0.1.0
itsdangerous==0.24
Jinja2==2.9.5
Markdown==2.6.8
MarkdownSuperscript==1.0.1
MarkupSafe==0.23
opster==4.1
packaging==16.8
path.py==10.1
pbr==1.10.0
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.13
ptyprocess==0.5.1
pyflakes==1.5.0
Pygments==2.2.0
pymorphy2==0.8
pymorphy2-dicts==2.4.393442.3710985
pyparsing==2.1.10
python-stdnum==1.5
pytz==2016.10
requests==2.13.0
simplegeneric==0.8.1
six==1.10.0
speaklater==1.3
Tempita==0.5.2
traitlets==4.3.1
Unidecode==0.4.20
wcwidth==0.1.7
Werkzeug==0.11.15
