/* importing fonts from google */
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700&subset=latin,cyrillic);
/* resetting default browser styles */
@import url(/bib/css/reset.css);

body {
	color: #000000;
	background-color: #ffffff;
	margin: 0px 0px 100px 0px;
	font-size: 100%;
    font-family: "PT Sans", sans-serif;
}

h1, h2, h3 {
    font-family: "PT Sans Caption", sans-serif;
    text-align: center;
    margin: 10px;
}

h1 {
    font-size: 200%;
}

h2 {
	font-size: 135%;
}

h3 {
    font-size: 120%;
    margin: 30px 10px 0px 10px;
}

p {
	text-align: left;
	text-indent: 20px;
	margin: 0px 0px 5px 0px;
}

img {
 	border: 0px;
 	vertical-align: middle;
}

a {
	background-color: transparent;
	color: #0088ff;
	outline: none;
}

span.action {
	background-color: transparent;
	color: #0088ff;
	cursor: pointer;
}

a.action, span.action {
	text-decoration: none;
	border-bottom: dashed 1px #0088ff;
	margin-bottom: 4px;
	display: inline-block;
}

a.image_link {
	text-decoration: none;
}

a.image_link span {
	text-decoration: underline;
}

hr {
	width: 100%;
	height: 2px;
	border: none;
	color: #000000;
	background-color: #cccccc;
}

ul, ol {
	text-align: left;
	text-indent: 20px;
}

table tr td:first-child {
	width: 0%;
	white-space: nowrap;
}

table tr td:last-child {
	width: 100%;
	white-space: normal;
}

table tr td {
	padding: 2px;
	text-align: left;
	vertical-align: top;
}

.center {
	text-align: center;
}

.content {
	margin: 0% 20%;
}

.choose_lang {
	position: absolute;
	top: 0px;
	right: 0px;
	white-space: nowrap;
}

.bib_item_left {
	width: 25%;
	display: inline-block;
	vertical-align: top;
}

.bib_item_right {
	width: 74%;
	display: inline-block;
	vertical-align: top;
}

/* input magic */
input[type="text"], 
input[type="email"], 
select, 
textarea,
#keywordsChooser {
	width: 400px;
}

input[type="number"] {
	width: 40px;
}

input, 
select, 
textarea {
	border-style: solid;
	border-width: 1px;
	border-color: #aaaaaa #eeeeee #eeeeee #eeeeee;
	border-radius: 2px;
	resize: none;
}

input:invalid, 
textarea:invalid {
	border-color: #ff0000;
	box-shadow: none;
}

#keywordsChooser {
	text-align: center;
	color: #000000;
	background-color: #dddddd;
	
	border: solid 1px #dddddd;
}

#keywordsChooser input[type="checkbox"] {
	display: none;
}

#keywordsChooser input[type="checkbox"] + label, #keywordsHider {
	color: #000000;
	background-color: #dddddd;
	padding: 2px;
	display: inline-block;
	white-space: nowrap;
	text-decoration: underline;
																																
	border-radius: 2px;
	border-width: 1px;
	border-color: #dddddd;
	border-style: solid;
}

#keywordsChooser input[type="checkbox"] + label:hover {
	border-style: outset;
}
													
#keywordsChooser input[type="checkbox"]:checked + label {
	border-style: inset;
}
																										
#keywordsChooser input[type="checkbox"]:checked + label:hover {
	border-style: inset;
}

#keywordsHider {
	float: right;
	display: inline-block;
	cursor: default;
	text-decoration: none;
}
