/* adding fonts directly since fonts.google.com received CSS isn't cached in browser */

/* PT Sans font family */

@font-face
{
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: normal;
	src: local("PT Sans"), url("/fonts/PT_Sans.woff") format("woff");
}

@font-face
{
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: bold;
	src: local("PT Sans Bold"), url("/fonts/PT_Sans_Bold.woff") format("woff");
}

@font-face
{
	font-family: 'PT Sans';
	font-style: italic;
	font-weight: normal;
	src: local("PT Sans Italic"), url("/fonts/PT_Sans_Italic.woff") format("woff");
}

@font-face
{
	font-family: 'PT Sans';
	font-style: italic;
	font-weight: bold;
	src: local("PT Sans Bold Italic"), url("/fonts/PT_Sans_Bold_Italic.woff") format("woff");
}

/* PT Sans Caption font family */

@font-face
{
	font-family: 'PT Sans Caption';
	font-style: normal;
	font-weight: normal;
	src: local("PT Sans Caption"), url("/fonts/PT_Sans_Caption.woff") format("woff");
}

@font-face
{
	font-family: 'PT Sans Caption';
	font-style: normal;
	font-weight: bold;
	src: local("PT Sans Caption Bold"), url("/fonts/PT_Sans_Caption_Bold.woff") format("woff");
}

/* PT Serif font family */

@font-face
{
	font-family: 'PT Serif';
	font-style: normal;
	font-weight: normal;
	src: local("PT Serif"), url("/fonts/PT_Serif.woff") format("woff");
}

@font-face
{
	font-family: 'PT Serif';
	font-style: normal;
	font-weight: bold;
	src: local("PT Serif Bold"), url("/fonts/PT_Serif_Bold.woff") format("woff");
}

@font-face
{
	font-family: 'PT Serif';
	font-style: italic;
	font-weight: bold;
	src: local("PT Serif Bold Italic"), url("/fonts/PT_Serif_Bold_Italic.woff") format("woff");
}

@font-face
{
	font-family: 'PT Serif';
	font-style: italic;
	font-weight: normal;
	src: local("PT Serif Italic"), url("/fonts/PT_Serif_Italic.woff") format("woff");
}

/* PT Serif Caption font family */

@font-face
{
	font-family: 'PT Serif Caption';
	font-style: normal;
	font-weight: normal;
	src: local("PT Serif Caption"), url("/fonts/PT_Serif_Caption.woff") format("woff");
}

@font-face
{
	font-family: 'PT Serif Caption';
	font-style: italic;
	font-weight: normal;
	src: local("PT Serif Caption Italic"), url("/fonts/PT_Serif_Caption_Italic.woff") format("woff");
}

/* resetting some predefined stuff */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
{
	margin: 0px;
	padding: 0px;
	border: 0px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
{
	display: block;
}

table
{
	border-collapse: collapse;
	border-spacing: 0px;
}

table.bound,
table.bound td,
table.bound th
{
	border: solid 1px black;
	padding: 2px 5px;
}

/* styles go here */

body
{
	color: #000000;
	background-color: #ffffff;
	margin: 0px 0px 100px 0px;
	font-size: 100%;
	line-height: 1;
	font-family: "PT Sans", sans-serif;
	overflow-y: scroll;
}

h1, h2, h3
{
	font-family: "PT Sans Caption", sans-serif;
	text-align: center;
	margin: 10px;
}

h1
{
	font-size: 200%;
}

h2
{
	font-size: 135%;
}

h3
{
	font-size: 120%;
}

p
{
	text-align: left;
	text-indent: 20px;
	margin: 0px 0px 5px 0px;
}

li > p
{
	text-indent: 0px;
}

img
{
 	border: 0px;
 	vertical-align: middle;
}

a
{
	background-color: transparent;
	color: #0088ff;
	outline: none;
}

span.action
{
	background-color: transparent;
	color: #0088ff;
	cursor: pointer;
}

a.action, span.action
{
	text-decoration: none;
	border-bottom: dashed 1px #0088ff;
	margin-bottom: 4px;
	display: inline-block;
}

a.image_link
{
	text-decoration: none;
}

a.image_link span
{
	text-decoration: underline;
}

hr
{
	width: 100%;
	height: 2px;
	border: none;
	color: #000000;
	background-color: #cccccc;
}

ul, ol
{
	text-align: left;
	text-indent: 0px;
	list-style-type: none;
}

ul.disc
{
	list-style-type: disc;
}

ol.decimal
{
	list-style-type: decimal;
}

li
{
	margin: 2px 0px;
}

.center
{
	width: 100%;
	text-align: center;
}

.align_center
{
	text-align: center;
}

.align_right:
{
	text-align: right;
}

.narrow
{
	width: 1%
}

.italic
{
	font-style: italic;
}

.hidden
{
	display: none;
}

.bold
{
	font-weight: bold;
}

.monospace
{
	font-family: monospace;
}

.grey_backgroun
{
	color: #000000;
	background-color: #555555;
}

.content
{
	margin: 0% auto;
	width: 100%;
	max-width: 720px;
}

.warn
{
	color: #ff3333;
	background-color: #ffffff;
}

.choose_lang
{
	position: absolute;
	top: 0px;
	right: 0px;
	white-space: nowrap;
}

div.bib_item_left
{
	width: 25%;
	vertical-align: top;
	display: inline-block;
}

div.bib_item_right
{
	width: 74%;
	vertical-align: top;
	display: inline-block;
}

/* search form styling */

#search table
{
	width: 100%;
}

#search table tr td
{
	padding: 2px 0px;
	width: 70%;
	text-align: left;
	vertical-align: top;
	font-weight: normal;
}

#search table tr th
{
	padding: 2px 0px;
	width: 30%;
	text-align: left;
	vertical-align: top;
	font-weight: normal;
}

#searchToggleBasic,
#searchToggleAdvanced,
#searchToggleAllFields
{
	font-size: 105%;
	display: inline-block;
	margin: 1px 2px;
}


/* input magic */

input[type="text"],
input[type="email"],
select,
textarea
{
	width: 100%;
	max-width: 400px;
	min-width: 150px;
	font-size: 100%;
	font-family: "PT Sans", sans-serif;
}

input[type="number"],
input[type="datetime"]
{
	width: 100px;
	font-size: 100%;
	font-family: "PT Sans", sans-serif;
}

input,
select,
textarea
{
	border-style: solid;
	border-width: 1px;
	border-color: #aaaaaa #eeeeee #eeeeee #eeeeee;
	border-radius: 2px;
	resize: none;
}

input:invalid,
textarea:invalid
{
	color: #000000;
	background-color: rgba(255, 204, 204, 0.1);
	border-color: #ff0000;
	box-shadow: none;
}

#catalogueType
{
	display: inline-block;
	width: 300px;
}

#catalogueCode
{
	display: inline-block;
	width: 100px;
}

#keywordsChooser
{
	color: #000000;
	background-color: #dddddd;

	border: solid 1px #dddddd;
	border-radius: 2px;
	text-align: center;

	width: 600px;
	height: 100%;
}

#keywordsButtons
{
	color: #000000;
	background-color: #dddddd;

	width: inherit;
	height: 100%;
	font-size: 90%;
}

#keywordsButtons input[type="checkbox"]
{
	display: none;
}

#keywordsButtons input[type="checkbox"] + label
{
	display: inline-block;
	white-space: nowrap;
	text-decoration: underline;
	text-align: center;

	color: #000000;
	background-color: #dddddd;

	width: 32%;
	border: solid 1px #dddddd;
	border-radius: 2px;
}

#keywordsButtons input[type="checkbox"] + label:hover
{
	border-style: outset;
}

#keywordsButtons input[type="checkbox"]:checked + label,
#keywordsButtons input[type="checkbox"]:checked + label:hover
{
	border-style: inset;
}

#keywordsHider
{
	color: #000000;
	background-color: #dddddd;
	text-align: center;
	text-decoration: none;

	border: solid 1px #dddddd;
	border-radius: 2px;
}

#keywordsHider:hover
{
	border-style: outset;
}

/* rendered transcription styles */

div.transcription
{
	font-family: "PT Serif";
	line-height: 1.2;
	max-width: 700px;
	margin: auto;
	position: relative;
}

div.transcription > p
{
	font-size: 110%;
	margin: 10px 0px;
}

div.transcription blockquote > p
{
	font-style: italic;
	margin: 3px;
}

div.transcription h1,
div.transcription h2,
div.transcription h3
{
	font-family: "PT Serif Caption";
	width: 100%;
}

div.transcription ul
{
	list-style-type: disc;
}

div.transcription ol
{
	list-style-type: decimal;
}

div.transcription table,
div.transcription td,
div.transcription th
{
	border: solid 1px black;
	text-align: center;
	border-collapse: collapse;
	font-weight: normal;
}

div.transcription table
{
	width: 100%;
}

div.transcription span.note_anchor,
div.transcription p > sup
{
	vertical-align: middle;
	top: -7px;
	position: relative;
	font-size: 75%;
}

div.transcription p > span.subscript
{
	vertical-align: middle;
	bottom: -4px;
	position: relative;
	font-size: 75%;
}

div.transcription span.smallcaps
{
	font-variant: small-caps;
}

div.transcription span.strikethrough
{
	text-decoration: line-through;
}

div.transcription span.page_number
{
	font-family: "PT Serif";
	font-size: 14px;
	font-weight: bold;
	font-style: normal;

	text-decoration: none;
	text-align: right;
	text-indent: 0px;

	color: #b0b0b0;

	display: inline-block;
	position: absolute;
	left: -100px;
	width: 50px;

	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}

div.transcription span.note
{
	font-family: "PT Serif";
	font-size: 14px;
	font-weight: normal;
	font-style: normal;

	text-decoration: none;
	text-align: left;
	text-indent: 0px;

	color: #b0b0b0;

	margin-right: -350px;
	width: 300px;
	clear: both;
	float: right;

	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}

div.transcription span.note span.p
{
	display: block;
}

div.transcription span.note span.blockquote > span.p
{
	display: block;
	font-style: italic;
}

div.transcription span.note span.h3
{
	display: block;
	text-align: center;
	font-family: "PT Serif Caption";
	font-weight: bold;
	width: 100%;
}


div.transcription div.next_old_list_style_type_upper_roman + ol
{
	list-style-type: upper-roman;
}

div.transcription span.next_img_size_1em + img
{
	width: 1em;
	height: 1em;
}

table.backups,
table.backups td,
table.backups th
{
	border: solid 1px black;
}
