/* importing fonts from google */
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700&subset=latin,cyrillic);
/* resetting default browser styles */
@import url(/bib/css/reset.css);

body {
	color: #000000;
	background-color: #ffffff;
	margin: 0px 0px 100px 0px;
	font-size: 100%;
    font-family: "PT Sans", sans-serif;
}

h1, h2, h3 {
    font-family: "PT Sans Caption", sans-serif;
    text-align: center;
    margin: 10px;
}

h1 {
    font-size: 200%;
}

h2 {
	font-size: 135%;
}

h3 {
    font-size: 120%;
}

p {
	text-align: left;
	text-indent: 20px;
	margin: 0px 0px 5px 0px;
}

img {
 	border: 0px;
 	vertical-align: middle;
}

a {
	background-color: transparent;
	color: #0088ff;
	outline: none;
}

span.action {
	background-color: transparent;
	color: #0088ff;
	cursor: pointer;
}

a.action, span.action {
	text-decoration: none;
	border-bottom: dashed 1px #0088ff;
	margin-bottom: 4px;
	display: inline-block;
}

a.image_link {
	text-decoration: none;
}

a.image_link span {
	text-decoration: underline;
}

hr {
	width: 100%;
	height: 2px;
	border: none;
	color: #000000;
	background-color: #cccccc;
}

ul, ol {
	text-align: left;
	text-indent: 0px;
}

ul.disc {
	list-style-type: disc;
}

ol.decimal {
	list-style-type: decimal;
}

li {
	margin: 2px 0px;
}

.center {
	width: 100%;
	text-align: center;
}

.hidden {
	display: none;
}

.sup {
	font-size: 75%;
	font-weight: 400;
	vertical-align: top;
}

.bold {
	font-weight: 700;
}

.content {
	margin: 0% 20%;
}

.warn {
	color: #ff3333;
	background-color: #ffffff;
}

.choose_lang {
	position: absolute;
	top: 0px;
	right: 0px;
	white-space: nowrap;
}

table tr td:first-child,
div.bib_item_left {
	width: 25%;
	vertical-align: top;
	display: inline-block;
}

table tr td:last-child,
div.bib_item_right {
	width: 74%;
	vertical-align: top;
	display: inline-block;
}

table tr td {
	padding: 2px 0px;
	text-align: left;
	vertical-align: top;
}

#searchToggleBasic,
#searchToggleAdvanced,
#searchToggleAllFields {
	font-size: 105%;
	display: inline-block;
	margin: 1px 2px;
}

/* input magic */
#search table {
	width: 100%;
}

input[type="text"],
input[type="email"],
select,
textarea,
#keywordsChooser {
	width: 400px;
	font-size: 100%;
    font-family: "PT Sans", sans-serif;
}

input[type="number"],
input[type="datetime"]{
	width: 100px;
	font-size: 100%;
    font-family: "PT Sans", sans-serif;
}

input,
select,
textarea {
	border-style: solid;
	border-width: 1px;
	border-color: #aaaaaa #eeeeee #eeeeee #eeeeee;
	border-radius: 2px;
	resize: none;
}

input:invalid,
textarea:invalid {
	color: #000000;
	background-color: rgba(255, 204, 204, 0.1);
	border-color: #ff0000;
	box-shadow: none;
}

#keywordsChooser {
	color: #000000;
	background-color: #dddddd;

	border: solid 1px #dddddd;
	border-radius: 2px;
	text-align: center;

	width: 400px;
	height: 100%;
}

#keywordsChooser input[type="checkbox"] {
	display: none;
}

#keywordsChooser input[type="checkbox"] + label {
	display: inline-block;
	white-space: nowrap;
	text-decoration: underline;
	text-align: center;

	color: #000000;
	background-color: #dddddd;

	width: 32%;
	border: solid 1px #dddddd;
	border-radius: 2px;
}

#keywordsChooser input[type="checkbox"] + label:hover {
	border-style: outset;
}

#keywordsChooser input[type="checkbox"]:checked + label,
#keywordsChooser input[type="checkbox"]:checked + label:hover,
#keywordsHider:hover {
	border-style: inset;
}

#keywordsHider {
	color: #000000;
	background-color: #dddddd;
	text-align: center;
	text-decoration: none;

	border: solid 1px #dddddd;
	border-radius: 2px;
}

