<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
{% include "components/head.html" %}
	<body>
{% include "components/choose-lang.html" %}
{% include "components/header.html" %}
		<h2>{{ _("pages:keywords:title") }}</h2>
		<h3>{{ _("pages:keywords:bold") }}</h3>
		<h3>{{ _("pages:keywords:edits") }}: <a class="action" href="mailto://georgthegreat@gmail.com">georgthegreat@gmail.com</a></h3>
		<div class="content">
			<h3>{{ _("pages:keywords:xxi") }}</h3>
{% set ref = cycler(*range(1, 100)) %}
			<ul class="disc">
				<li>minuet</li>
				<li>grossfater</li>
				<li>highland</li>
				<li>landler</li>
				<li>quadrillei<span class="sup">{{ ref.__next__() }}</span></li>
				<li>quadrille: first set</li>
				<li>quadrille: lancers</li>
				<li>quadrille: caledonians</li>
				<li>quadrille: prince imperial</li>
				<li>quadrille: variete parisiennes</li>
				<li>waltz<span class="sup">{{ ref.__next__() }}<span></li>
				<li>waltz: trois temps</li>
				<li>waltz: sautese<span class="sup">{{ ref.__next__() }}</span></li>
				<li>waltz: deux temps</li>
				<li>waltz: new trois temps</li>
				<li>waltz: boston<span class="sup">{{ ref.__next__() }}</span></li>
				<li>waltz: hesitation</li>
				<li>waltz: glide</li>
				<li>mazurka</li>
				<li>polonaise</li>
				<li>cotillon: 19th century</li>
				<li>galop</li>
				<li>polka<span class="sup">{{ ref.__next__() }}</span></li>
				<li>polka-mazurka<span class="sup">{{ ref.__next__() }}</span></li>
				<li>redowa</li>
				<li>sequence<span class="sup">{{ ref.__next__() }}</span></li>
				<li>scottish</li>
				<li>character dance</li>
				<li>promiscuous figures</li>
				<li>grand march</li>
			</ul>
			<h3>{{ _("pages:keywords:country-dance") }}</h3>
			<ul class="disc">
				<li>contredanse</li>
				<li>cotillon: 18th century</li>
				<li>ecossaise</li>
				<li>anglaise</li>
				<li>swedish dance</li>
				<li>la tempete</li>
				<li>circle<span class="sup">{{ ref.__next__() }}</span></li>
				<li>sir roger de coverly / virginia reel<li>
				<li>la boulanger</li>
				<li>rustic reel</li>
				<li>spanish dance</li>
			</ul>
			<h3>{{ _("pages:keywords:extras") }}</h3>
			<ul class="disc">
				<li>music</li>
				<li>steps</li>
				<li class="bold">antidance</li>
				<li>belles-lettres</li>
				<li>dance instruction<span class="sup">{{ ref.__next__() }}</span></li>
				<li>etiquette</li>
				<li>libretto</li>
				<li>memoirs</li>
				<li class="bold">reissue</li>
				<li class="bold">facsimile</li>
				<li class="bold">transcription</li>
				<li class="bold">research</li>
				<li class="bold">commentary<span class="sup">{{ ref.__next__() }}</span></li>
				<li class="bold">markdown<span class="sup">{{ ref.__next__() }}</span></li>
				<li class="bold">not digitized</li>
			</ul>
			<h3>{{ _("pages:keywords:references") }}</h3>
			<ol class="decimal">
				<li>{{ _("pages:keywords:ref:quadrille") }}</li>
				<li>{{ _("pages:keywords:ref:waltz") }}</li>
				<li>{{ _("pages:keywords:ref:waltz-sautese") }}</li>
				<li>{{ _("pages:keywords:ref:boston") }}</li>
				<li>{{ _("pages:keywords:ref:polka") }}</li>
				<li>{{ _("pages:keywords:ref:polka-mazurka") }}</li>
				<li>{{ _("pages:keywords:ref:sequence") }}</li>
				<li>{{ _("pages:keywords:ref:circle") }}</li>
				<li>{{ _("pages:keywords:ref:dance-instruction") }}</li>
				<li>{{ _("pages:keywords:ref:commentary") }}</li>
				<li>{{ _("pages:keywords:ref:markdown")|safe }}</li>
			</ol>
			<hr/>
{% include "components/footer.html" %}
		</div>
	</body>
</html>
