<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
	{% include "components/head.html" %}
	<body>
		{% include "components/choose-lang.html" %}
		{% include "components/header.html" %}
		<h2>{{ _("pages:keywords:title") }}</h2>
		<h3>{{ _("pages:keywords:edits") }}:<a class="action" href="mailto://georgthegreat@gmail.com">georgthegreat@gmail.com</a></h3>
		<div class="content">
			{% set ref = cycler(*range(1, 100)) %}
			{% for keyword_category in config.parser.keywords.keys() %}
			<h3>{{ keyword_category | translate_keyword_category }}</h3>
			<ul class="disc">
				{% for keyword in config.parser.keywords[keyword_category].items() %}
					<li>
						{{ keyword[0] }}
						{% if keyword[1] %}
						<a href="#keyword-{{ "%03d" % ref.current }}" class="sup">{{ ref.__next__() }}</a>
						{% endif %}
					</li>
				{% endfor %}
			</ul>
			{% endfor %}
			<h3>{{ _("pages:keywords:references") }}</h3>
			{% set ref = cycler(*range(1, 100)) %}
			<ol class="decimal">
				{% for keyword in config.parser.keywords_with_ref %}
				<li><a id="keyword{{ "%03d" % ref.__next__() }}"></a>{{ keyword | translate_keyword_ref | safe }}</li>
				{% endfor %}
			</ol>
			<hr/>
			{% include "components/footer.html" %}
		</div>
	</body>
</html>

