<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
	{% include "components/head.html" %}
	<body>
		{% include "components/choose-lang.html" %}
		{% include "components/header.html" %}
		<h2>{{ _("pages:keywords:title") }}</h2>
		<h3>{{ _("pages:keywords:edits") }}:<a class="action" href="mailto://georgthegreat@gmail.com">georgthegreat@gmail.com</a></h3>
		<div class="content">
			<h3>{{ _("pages:keywords:baroque") }}</h3>
			<ul class="disc">
				<li>allemande</li>
				<li>courant</li>
				<li>galliard</li>
				<li>gavotte</li>
				<li>landler</li>
				<li>minuet</li>
				<li>perigourdine</li>
				<li>saraband</li>
			</ul>
			{% set ref = cycler(*range(1, 100)) %}
			<h3>{{ _("pages:keywords:country-dance") }}</h3>
			<ul class="disc">
				<li>circle<a href="#keyword{{ "%03d" % ref.current }}" class="sup">{{ ref.__next__() }}</a></li>
				<li>cotillon: 18th century</li>
				<li>cotillon: doppel-quadrille</li>
				<li>cotillon: douze</li>
				<li>cotillon: seize</li>
				<li>cotillon: vingt-quatre</li>
				<li>la boulanger</li>
				<li>longway<a href="#keyword{{ "%03d" % ref.current }}" class="sup">{{ ref.__next__() }}</a></li>
				<li>longway: ecossaise in two columns<a href="#keyword{{ "%03d" % ref.current }}" class="sup">{{ ref.__next__() }}</a></li>
				<li>longway: ecossaise<a href="#keyword{{ "%03d" % ref.current }}" class="sup">{{ ref.__next__() }}</a></li>
				<li>longway: francaise<a href="#keyword{{ "%03d" % ref.current }}" class="sup">{{ ref.__next__() }}</a></li>
				<li>longway: matredour</li>
				<li>longway: money musk</li>
				<li>longway: pop goes the weasel</li>
				<li>rustic reel</li>
				<li>sir roger de coverly</li>
				<li>spanish dance</li>
				<li>swedish dance</li>
				<li>tempete</li>
			</ul>
			<h3>{{ _("pages:keywords:xix") }}</h3>
			<ul class="disc">
				<li>allemande</li>
				<li>bogentanz</li>
				<li>character dance</li>
				<li>cotillon: 19th century</li>
				<li>fandango</li>
				<li>folk dance<a href="#keyword{{ "%03d" % ref.current }}" class="sup">{{ ref.__next__() }}</a></li>
				<li>folk dance: country bumpkin</li>
				<li>galop</li>
				<li>grossfater</li>
				<li>hongroise</li>
				<li>landler</li>
				<li>march</li>
				<li>mazurka</li>
				<li>minuet</li>
				<li>monferine</li>
				<li>polka-mazurka<a href="#keyword{{ "%03d" % ref.current }}" class="sup">{{ ref.__next__() }}</a></li>
				<li>polka<a href="#keyword{{ "%03d" % ref.current }}" class="sup">{{ ref.__next__() }}</a></li>
				<li>polonaise</li>
				<li>promiscuous figures</li>
				<li>quadrille<a href="#keyword{{ "%03d" % ref.current }}" class="sup">{{ ref.__next__() }}</a></li>
				<li>quadrille: caledonians</li>
				<li>quadrille: contredanse<a href="#keyword{{ "%03d" % ref.current }}" class="sup">{{ ref.__next__() }}</a></li>
				<li>quadrille: first set</li>
				<li>quadrille: lancers</li>
				<li>quadrille: monster<a href="#keyword{{ "%03d" % ref.current }}" class="sup">{{ ref.__next__() }}</a></li>
				<li>quadrille: prince imperial</li>
				<li>quadrille: varietes parisiennes</li>
				<li>redowa</li>
				<li>schottische</li>
				<li>sequence<a href="#keyword{{ "%03d" % ref.current }}" class="sup">{{ ref.__next__() }}</a></li>
				<li>stage dance<a href="#keyword{{ "%03d" % ref.current }}" class="sup">{{ ref.__next__() }}</a></li>
				<li>tango<a href="#keyword{{ "%03d" % ref.current }}" class="sup">{{ ref.__next__() }}</a></li>
				<li>waltz<a href="#keyword{{ "%03d" % ref.current }}" class="sup">{{ ref.__next__() }}</a></li>
				<li>waltz: boston<a href="#keyword{{ "%03d" % ref.current }}" class="sup">{{ ref.__next__() }}</a></li>
				<li>waltz: deux temps</li>
				<li>waltz: five steps</li>
				<li>waltz: glide</li>
				<li>waltz: hesitation</li>
				<li>waltz: new trois temps</li>
				<li>waltz: sautese<a href="#keyword{{ "%03d" % ref.current }}" class="sup">{{ ref.__next__() }}</a></li>
				<li>waltz: trois temps<a href="#keyword{{ "%03d" % ref.current }}" class="sup">{{ ref.__next__() }}</a></li>
			</ul>
			<h3>{{ _("pages:keywords:xx") }}</h3>
			<ul class="disc">
				<li>animal dance<a href="#keyword{{ "%03d" % ref.current }}" class="sup">{{ ref.__next__() }}</a></li>
				<li>animal dance: grizzly bear</li>
				<li>animal dance: turkey trot</li>
				<li>cakewalk</li>
				<li>castle walk</li>
				<li>foxtrot</li>
				<li>half and half</li>
				<li>mixer dance</li>
				<li>one-step</li>
				<li>sequence</li>
				<li>swing</li>
				<li>tango</li>
				<li>three-step</li>
				<li>two-step</li>
				<li>waltz: boston</li>
				<li>waltz: canter</li>
				<li>waltz: hesitation</li>
				<li>waltz</li>
			</ul>
			<h3>{{ _("pages:keywords:extras") }}</h3>
			<ul class="disc">
				<li>antidance</li>
				<li>belles-lettres</li>
				<li>belles-lettres: dance song<a href="#keyword{{ "%03d" % ref.current }}" class="sup">{{ ref.__next__() }}</a></li>
				<li>commentary<a href="#keyword{{ "%03d" % ref.current }}" class="sup">{{ ref.__next__() }}</a></li>
				<li>dance description<a href="#keyword{{ "%03d" % ref.current }}" class="sup">{{ ref.__next__() }}</a></li>
				<li>dance instruction<a href="#keyword{{ "%03d" % ref.current }}" class="sup">{{ ref.__next__() }}</a></li>
				<li>essay<a href="#keyword{{ "%03d" % ref.current }}" class="sup">{{ ref.__next__() }}</a></li>
				<li>etiquette</li>
				<li>facsimile</li>
				<li>first edition<a href="#keyword{{ "%03d" % ref.current }}" class="sup">{{ ref.__next__() }}</a></li>
				<li>libretto</li>
				<li>markdown<a href="#keyword{{ "%03d" % ref.current }}" class="sup">{{ ref.__next__() }}</a></li>
				<li>memoirs</li>
				<li>music</li>
				<li>not digitized</li>
				<li>reissue</li>
				<li>research</li>
				<li>steps</li>
				<li>transcription</li>
				<li>useless<a href="#keyword{{ "%03d" % ref.current }}" class="sup">{{ ref.__next__() }}</a></li>
			</ul>
			<h3>{{ _("pages:keywords:references") }}</h3>
			{% set ref = cycler(*range(1, 100)) %}
			<ol class="decimal">
				<!-- References for country-dance related keywords -->
				<li><a id="keyword{{ "%03d" % ref.__next__() }}"></a>{{ _("pages:keywords:ref:circle") }}</li>
				<li><a id="keyword{{ "%03d" % ref.__next__() }}"></a>{{ _("pages:keywords:ref:longway") }}</li>
				<li><a id="keyword{{ "%03d" % ref.__next__() }}"></a>{{ _("pages:keywords:ref:longway-ecossaise") }}</li>
				<li><a id="keyword{{ "%03d" % ref.__next__() }}"></a>{{ _("pages:keywords:ref:longway-ecossaise-in-two-columns") }}</li>
				<li><a id="keyword{{ "%03d" % ref.__next__() }}"></a>{{ _("pages:keywords:ref:longway-francaise") }}</li>
				<!-- References for XIX century keywords -->
				<li><a id="keyword{{ "%03d" % ref.__next__() }}"></a>{{ _("pages:keywords:ref:folk-dance") }}</li>
				<li><a id="keyword{{ "%03d" % ref.__next__() }}"></a>{{ _("pages:keywords:ref:polka") }}</li>
				<li><a id="keyword{{ "%03d" % ref.__next__() }}"></a>{{ _("pages:keywords:ref:polka-mazurka") }}</li>
				<li><a id="keyword{{ "%03d" % ref.__next__() }}"></a>{{ _("pages:keywords:ref:quadrille") }}</li>
				<li><a id="keyword{{ "%03d" % ref.__next__() }}"></a>{{ _("pages:keywords:ref:quadrille-contredanse") }}</li>
				<li><a id="keyword{{ "%03d" % ref.__next__() }}"></a>{{ _("pages:keywords:ref:quadrille-monster") }}</li>
				<li><a id="keyword{{ "%03d" % ref.__next__() }}"></a>{{ _("pages:keywords:ref:sequence") }}</li>
				<li><a id="keyword{{ "%03d" % ref.__next__() }}"></a>{{ _("pages:keywords:ref:stage-dance") }}</li>
				<li><a id="keyword{{ "%03d" % ref.__next__() }}"></a>{{ _("pages:keywords:ref:tango") }}</li>
				<li><a id="keyword{{ "%03d" % ref.__next__() }}"></a>{{ _("pages:keywords:ref:waltz") }}</li>
				<li><a id="keyword{{ "%03d" % ref.__next__() }}"></a>{{ _("pages:keywords:ref:waltz-boston") }}</li>
				<li><a id="keyword{{ "%03d" % ref.__next__() }}"></a>{{ _("pages:keywords:ref:waltz-sautese") }}</li>
				<li><a id="keyword{{ "%03d" % ref.__next__() }}"></a>{{ _("pages:keywords:ref:waltz-trois-temps") }}</li>
				<!-- References for XX century keywords -->
				<li><a id="keyword{{ "%03d" % ref.__next__() }}"></a>{{ _("pages:keywords:ref:animal-dance") }}</li>
				<!-- References for extra keywords -->
				<li><a id="keyword{{ "%03d" % ref.__next__() }}"></a>{{ _("pages:keywords:ref:belles-lettres-dance-song") }}</li>
				<li><a id="keyword{{ "%03d" % ref.__next__() }}"></a>{{ _("pages:keywords:ref:commentary") }}</li>
				<li><a id="keyword{{ "%03d" % ref.__next__() }}"></a>{{ _("pages:keywords:ref:dance-description") }}</li>
				<li><a id="keyword{{ "%03d" % ref.__next__() }}"></a>{{ _("pages:keywords:ref:dance-instruction") }}</li>
				<li><a id="keyword{{ "%03d" % ref.__next__() }}"></a>{{ _("pages:keywords:ref:essay") }}</li>
				<li><a id="keyword{{ "%03d" % ref.__next__() }}"></a>{{ _("pages:keywords:ref:first-edition") }}</li>
				<li><a id="keyword{{ "%03d" % ref.__next__() }}"></a>{{ _("pages:keywords:ref:markdown")|safe }}</li>
				<li><a id="keyword{{ "%03d" % ref.__next__() }}"></a>{{ _("pages:keywords:ref:useless") }}</li>
			</ol>
			<hr/>
			{% include "components/footer.html" %}
		</div>
	</body>
</html>

