<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
	<head>
        {% include "components/head-meta-common.html" %}
        {% include "components/head-link.html" %}
        {% include "components/head-script.html" %}
        <title>{{ _("interface:title") }}</title>
	</head>
	<body>
		{% include "components/choose-lang.html" %}
		{% include "components/header.html" %}
		<div class="content">
			<div class="center italic">
				{{ _("pages:persimmon:verse")|safe }}
			</div>
			<hr/>
			{% include "components/footer.html" %}
		</div>
	</body>
</html>
