			<div class="center">
				<a href="/bib/files/test-biblatex.pdf" class="image_link">
					<img src="/bib/images/icon/pdf.svg" height="32px" width="" title="{{ _("rendered_pdf") }}" alt="{{ _("rendered_pdf") }}"/>
				</a>
				<a href="http://hda.org.ru" class="image_link">
					<img src="/bib/images/icon/hda.svg" height="32px" width="111px" title="{{ _("hda") }}" alt="{{ _("hda") }}"/>
				</a>
				<a href="http://dance.goldenforests.ru" class="image_link">
					<img src="/bib/images/icon/goldenforests.svg" height="32px" width="63px" title="{{ _("golden_forests") }}" alt="{{ _("golden_forests") }}"/>
				</a>
				<a href="https://github.com/georgthegreat/dancebooks-bibtex" class="image_link">
					<img src="/bib/images/icon/github.svg" height="32px" width="33px" title="{{ _("github_repo") }}" alt="{{ _("github_repo") }}"/>
				</a>
				<a href="/bib/persimmon.html" class="image_link">
					<img src="/bib/images/icon/persimmon.png" height="32px" width="30px" title="{{ _("persimmon") }}" alt="{{ _("persimmon") }}"/>
				</a>
			</div>

