			<div class="center">
				<a href="http://dance.goldenforests.ru" class="image_link">
					<img src="/bib/images/gf-logo.svg" height="32px" width="63px" title="Golden forests" alt="Golden forests"/>
				</a>
			</div>
			<p/>
			<div class="center">
				<span>{{ _("language") }}: </span>
				<a href="/bib/?lang=en" class="image_link">
					<img src="/bib/images/lang-en.svg" height="24px" width="36px" title="English" alt="English"/>
				</a>
				<a href="/bib/?lang=ru" class="image_link">
					<img src="/bib/images/lang-ru.svg" height="24px" width="36px" title="Русский" alt="Русский"/>
				</a>
			</div>


