			<div class="center">
				<a href="/bib/rss/books" class="image_link">
					<img src="/bib/images/icon/rss.svg" height="32px" width="" title="RSS" alt="RSS"/>
				</a>
				<a href="/bib/files/test-biblatex.pdf" class="image_link">
					<img src="/bib/images/icon/pdf.svg" height="32px" width="" title="{{ _("interface:footer:pdf") }}" alt="{{ _("interface:footer:pdf") }}"/>
				</a>
				<a href="http://hda.org.ru" class="image_link">
					<img src="/bib/images/icon/hda.svg" height="32px" width="111px" title="{{ _("interface:footer:hda") }}" alt="{{ _("interface:footer:hda") }}"/>
				</a>
				<a href="http://dance.goldenforests.ru" class="image_link">
					<img src="/bib/images/icon/goldenforests.svg" height="32px" width="63px" title="{{ _("interface:footer:golden_forests") }}" alt="{{ _("interface:footer:golden_forests") }}"/>
				</a>
				<a href="https://github.com/georgthegreat/dancebooks-bibtex" class="image_link">
					<img src="/bib/images/icon/github.svg" height="32px" width="33px" title="{{ _("interface:footer:repo") }}" alt="{{ _("interface:footer:repo") }}"/>
				</a>
				<a href="/bib/persimmon.html" class="image_link">
					<img src="/bib/images/icon/persimmon.032x032.png" height="32px" width="32px" title="{{ _("interface:footer:persimmon") }}" alt="{{ _("interface:footer:persimmon") }}"/>
				</a>
				<a href="/bib/keywords.html" class="image_link">
					<img src="/bib/images/icon/tag.svg" height="32px" width="32px" title="{{ _("interface:footer:tags") }}" alt="{{ _("interface:footer:tags") }}"/>
				</a>
			</div>

