	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="description" content="Historical dance bibliography"/>
		<meta name="keywords" content="historical dance, dance books, bibliography"/>

		<link rel="shortcut icon" href="/bib/images/icon/persimmon.016x016.png" type="image/png"/>
		<link rel="stylesheet" href="/bib/css/style.css" type="text/css"/>

		<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="/bib/js/script.js"></script>
		<link rel="search" type="application/opensearchdescription+xml" href="/bib/files/search-author.xml" title="bib.hda.org.ru by author"/>
		<link rel="search" type="application/opensearchdescription+xml" href="/bib/files/search-title.xml" title="bib.hda.org.ru by title"/>
		<title>{{ _("dancing books bibliography") }}</title>
	</head>

