	<head>	
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="description" content="Historical dance bibliography"/>
		<meta name="keywords" content="historical dance, dance books, bibliography"/>
		
		<link rel="shortcut icon" href="/bib/images/icon.png" type="image/png"/>
		<link rel="stylesheet" href="/bib/css/style.css" type="text/css"/>
		<link rel="prefetch" href="/bib/langid" type="application/json"/>
		<link rel="prefetch" href="/bib/keywords" type="application/json"/>
		
		<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
		<script type="text/javascript" src="/bib/js/script.js"></script>
	
		<title>{{ _("dancing books bibliography") }}</title>
	</head>

