{% set author = item.author() %}
{% set shorthand = item.shorthand() %}
{% set title = item.title() %}
{% set id = item.id() %}
{% set source_file = item.source_file() %}
{% set source_line = item.source_line() %}
{% set booktype = item.booktype() %}
{% set year = item.year() %}
{% set publisher = item.publisher() %}
{% set location = item.location() %}
{% set edition = item.edition() %}
{% set series = item.series() %}
{% set number = item.number() %}
{% set keywords = item.keywords() %}
{% set url = item.url() %}
{% set note = item.note() %}
{% set annotation = item.annotation() %}

{% if author %}
				<tr>
					<td>author:</td><td>{{ author }}</td>
				</tr>
{% endif %}
{% if shorthand %}
				<tr>
					<td>shorthand:</td><td>{{ shorthand }}</td>
				</tr>
{% endif %}
{% if title %}
				<tr>
					<td>title:</td><td>{{ title }}</td>
				</tr>
{% endif %}
{% if id %}
				<tr>
					<td>id:</td><td><a href="/bib/book/{{ item.id() }}">{{ id }}</a></td>
				</tr>
{% endif %}
{% if source_file and source_line %}
				<tr>
					<td>source:</td><td>{{ source_file }}:{{ source_line }}</td>
				</tr>
{% endif %}
{% if booktype %}
				<tr>
					<td>booktype:</td><td>{{ booktype }}</td>
				</tr>
{% endif %}
{% if year %}
				<tr>
					<td>year:</td><td>{{ year }}</td>
				</tr>
{% endif %}
{% if location %}
				<tr>
					<td>location:</td><td>{{ location }}</td>
				</tr>
{% endif %}
{% if publisher %}
				<tr>
					<td>publisher:</td><td>{{ publisher }}</td>
				</tr>
{% endif %}
{% if edition %}
				<tr>
					<td>edition:</td><td>{{ edition }}</td>
				</tr>
{% endif %}
{% if series and number %}
				<tr>
					<td>series:</td><td>{{ series }}: №{{ number }}</td>
				</tr>
{% endif %}
{% if keywords %} 
				<tr>
					<td>keywords:</td><td>{{ keywords }}</td>
				</tr>
{% endif %}
{% if url %} 
				<tr>
					<td>url:</td><td><a href="{{ item.url() }}">{{ url }}</a></td>
				</tr>
{% endif %}
{% if note %} 
				<tr>
					<td>note:</td><td>{{ note }}</td>
				</tr>
{% endif %}
{% if annotation %} 
				<tr>
					<td>annotation:</td><td>{{ annotation }}</td>
				</tr>
{% endif %}
				<tr>
					<td colspan="2"><hr/></td>
				</tr>
