{% set fields = [
	"author",
	"title",
	"booktitle",
	"journaltitle",
	"langid",
	"id",
	"added_on",
	"source",
	"booktype",
	"date",
	"publisher",
	"isbn",
	"location",
	"catalogue",
	"library",
	"library_location",
	"library_code",
	"edition",
	"series",
	"volume",
	"volumes",
	"number",
	"pages",
	"keywords",
	"url",
	"transcription_url",
	"filename",
	"annotation",
] %}

{% for param in fields %}
{# Some parameters require specific treatment #}
	{% if param in ["filename", "catalogue", "author", "added_on", "url", "transcription_url", "keywords"] %}
		{% set value = item.get(param) %}
	{% elif param in ["date"] %}
		{# pass #}
	{% else %}
		{% set value = item.get_as_string(param) %}
	{% endif %}
	{% if value %}
		{% if (param != "filename") or show_secrets %} {# secrets filtering: start #}
			<div class="bib_item_left">{{ _("item:labels:" + param.replace("_", "-")) }}:</div>
			<div class="bib_item_right">
			{% if param == "id" %}
				{{ value | format_item_id | safe }}</a>
			{% elif param == "author" %}
				{{ value | map("author_link") | map("safe") | join(", ") }}
			{% elif param == "keywords" %}
				{{ value | map("keyword_link") | map("safe") | join(", ") }}
			{% elif param == "url" %}
				<ul>
				{% for url in value %}
					<li>
						<a href="{{ url }}">{{ url }}</a>
						{% if url | is_url_self_served(item) %}
							({{ url | self_served_url_size(item) }})
						{% endif %}
					</li>
				{% endfor %}
				</ul>
			{% elif param == "transcription_url" %}
				<ul>
				{% for transcription_url in value %}
					<li><a href="{{ transcription_url }}">{{ transcription_url }}</a></li>
				{% endfor %}
				</ul>
			{% elif param == "filename" %}
				<ul>
				{% for filename in value %}
					<li><a href="bib://{{ filename[1:] }}">{{ filename }}</a></li>
				{% endfor %}
				</ul>
			{% elif param == "catalogue" %}
				<ul>
				{% for single_code in value %}
					<li>{{ single_code | format_catalogue_code | safe }}</li>
				{% endfor %}
				</ul>
			{% elif param == "langid" %}
				{{ _("item:language:" + value) }}
			{% elif param == "added_on" %}
				{{ value | dateformat("long") }}
			{% elif param == "annotation" %}
				{{ value | safe }}
			{% elif param == "booktype" %}
				{{ value | translate_booktype }}
			{% elif param == "date" %}
				{{ item | format_date }}
			{% else %}
				{{ value }}
			{% endif %}
			</div>
		{% endif %} {# secrets filtering: end #}
	{% endif %}
{% endfor %}
{% set keywords = (item.get("keywords") or []) | as_set %}
{% set year_from = item.get("year_from") %}
{% set year_to = item.get("year_to") %}
{% if (
	(year_from <= config.www.keywords_warn_max_year) and
	(year_to >= config.www.keywords_warn_min_year) and
	((keywords - config.parser.useless_keywords) | length == 0)
) %}
			<div class="center warn">
				{{ _("interface:no-keywords") | safe }}
			</div>
{% endif %}

