			<h2>{{ _("interface:use-search") }}:</h2>
			<div class="center" id="searchTogglers">
				<span id="searchToggleBasic">{{ _("search:type:basic") }}</span>
				<span id="searchToggleAdvanced" class="action">{{ _("search:type:advanced") }}</span>
				<span id="searchToggleAllFields" class="action">{{ _("search:type:all-fields") }}</span>
			</div>

			<form id="search" action="/bib/basic-search">
				<!-- Basic search form -->
				<table id="searchFormBasic">
					<tr>
						<th>
							<label for="author">{{ _("search:labels:author") }}:</label>
						</th>
						<td>
							<input id="author" type="text" name="author"/>
						</td>
					</tr>
					<tr>
						<th>
							<label for="title">{{ _("search:labels:title") }}:</label>
						</th>
						<td>
							<input id="title" type="text" name="title"/>
						</td>
					</tr>
					<tr>
						<th>
							<label for="year_from">{{ _("search:labels:year") }}:</label>
						</th>
						<td>
							<input id="year_from" type="number" name="year_from" min="1000" max="9999"/><!--
							--><span>–</span><!--
							--><input id="year_to" type="number" name="year_to" min="1000" max="9999"/>
						</td>
					</tr>
				</table>

				<!-- Advanced search form -->
				<table id="searchFormAdvanced" class="hidden">
					<tr>
						<th>
							<label for="added_on_from">{{ _("search:labels:added-on") }}:</label>
						</th>
						<td>
							<input id="added_on_from" type="datetime" name="added_on_from"/><!--
							--><span>–</span><!--
							--><input id="added_on_to" type="datetime" name="added_on_to"/>
						</td>
					</tr>
					<tr>
						<th>
							<label for="langid">{{ _("search:labels:langid") }}:</label>
						</th>
						<td>
							<select id="langid" name="langid">
								<!-- required to reduce flicking -->
								<option value="empty" selected="selected"></option>
								<option value="">{{ _("common:Any") }}</option>
							</select>
						</td>
					</tr>
					<tr>
						<th>
							<label for="source_file">{{ _("search:labels:source-file") }}:</label>
						</th>
						<td>
							<select id="source_file" name="source_file">
								<!-- required to reduce flicking -->
								<option value="empty" selected="selected"></option>
								<option value="">{{ _("common:Any") }}</option>
							</select>
						</td>
					</tr>
					<tr>
						<th>
							<label for="booktype">{{ _("search:labels:booktype") }}:</label>
						</th>
						<td>
							<select id="booktype" name="booktype">
								<!-- required to reduce flicking -->
								<option value="empty" selected="selected"></option>
								<option value="">{{ _("common:Any") }}</option>
							</select>
						</td>
					</tr>
					<tr>
						<th>
							<label for="publisher">{{ _("search:labels:publisher") }}:</label>
						</th>
						<td>
							<input id="publisher" type="text" name="publisher"/>
						</td>
					</tr>
					<tr>
						<th>
							<label for="catalogueCode">{{ _("search:labels:catalogue") }}:</label>
						</th>
						<td>
							<select id="catalogueType" name="catalogueType">
								<option value="Lange">E. Lange, K.-H. Lange. Modetänze um 1800</option>
								<option value="Lancelot">F. Lancelot. La belle danse</option>
								<option value="LittleMarsh">M. E. Little, C. G. Marsh. La danse noble</option>
							</select><!-- cheating
							--><input id="catalogueCode" type="text" name="catalogueCode"/>
						</td>
					</tr>
					<tr>
						<th>
							<label for="location">{{ _("search:labels:location") }}:</label>
						</th>
						<td>
							<input id="location" type="text" name="location"/>
						</td>
					</tr>
					<tr>
						<th>
							<label for="keywords">{{ _("search:labels:keywords") }}:</label>
						</th>
						<td>
							<input id="keywords" type="text" readonly="readonly" name="keywords"/>
							<div id="keywordsChooser" class="hidden">
								<div id="keywordsButtons"></div>
								<div id="keywordsHider">▲</div>
							</div>
						</td>
					</tr>
					<tr>
						<th>
							<label for="availability">{{ _("search:labels:url") }}:</label>
						</th>
						<td>
							<select id="availability" name="availability">
								<option value="">{{ _("common:Does-not-matter") }}</option>
								<option value="unavailable">{{ _("search:labels:unavailable") }}</option>
								<option value="available-elsewhere">{{ _("search:labels:available-elsewhere") }}</option>
								<option value="available-here">{{ _("search:labels:available-here") }}</option>
							</select>
						</td>
					</tr>
					<tr>
						<th>
							<label for="origlanguage">{{ _("search:labels:origlanguage") }}:</label>
						</th>
						<td>
							<select id="origlanguage" name="origlanguage">
								<option value="">{{ _("common:Does-not-matter") }}</option>
								<option value="true">{{ _("common:Yes") }}</option>
								<option value="false">{{ _("common:No") }}</option>
							</select>
						</td>
					</tr>
					<tr>
						<th>
							<label for="transcription">{{ _("search:labels:transcription") }}:</label>
						</th>
						<td>
							<select id="transcription" name="transcription">
								<option value="">{{ _("common:Does-not-matter") }}</option>
								<option value="true">{{ _("common:Yes") }}</option>
								<option value="false">{{ _("common:No") }}</option>
							</select>
						</td>
					</tr>
					<tr>
						<th>
							<label for="useful_keywords">{{ _("search:labels:useful-keywords") }}:</label>
						</th>
						<td>
							<select id="useful_keywords" name="useful_keywords">
								<option value="">{{ _("common:Does-not-matter") }}</option>
								<option value="true">{{ _("common:Yes") }}</option>
								<option value="false">{{ _("common:No") }}</option>
							</select>
						</td>
					</tr>
				</table>

				<!-- Search within all fields -->
				<table id="searchFormAllFields" class="hidden">
					<tr>
						<th>
							<label for="all_fields">{{ _("search:labels:all-fields") }}:</label>
						</th>
						<td>
							<input id="all_fields" type="text" name="all_fields"/>
						</td>
					</tr>
				</table>

				<!-- Order by block -->
				<table>
					<tr>
						<td colspan="100"><hr/></td>
					</tr>
					<tr>
						<th>
							<label for="orderBy">{{ _("search:order-by") }}:</label>
						</th>
						<td>
							<select id="orderBy" name="orderBy">
								<option value="">{{ _("search:order-by:year-from") }}</option>
								<option value="added_on">{{ _("search:order-by:added-on") }}</option>
								<option value="source">{{ _("search:order-by:source") }}</option>
								<option value="author">{{ _("search:order-by:author") }}</option>
								<option value="location">{{ _("search:order-by:location") }}</option>
								<option value="series">{{ _("search:order-by:series") }}</option>
								<option value="number">{{ _("search:order-by:number") }}</option>
							</select>
						</td>
					</tr>
				</table>
			</form>
			<div class="center">
				<button id="submitSearch">{{ _("interface:buttons:search") }}</button>
				<button id="clearSearch">{{ _("interface:buttons:clear") }}</button>
			</div>

