		<h2>{{ _("interface:you_can") }} <a href="/bib/books">{{ _("interface:display_everything") }}</a> {{ _("common:or") }} {{ _("interface:use_search") }}:</h2>
		<div class="content">
			<div class="center" id="searchTogglers">
				<span id="searchToggleBasic">{{ _("search:type:basic") }}</span>
				<span id="searchToggleAdvanced" class="action">{{ _("search:type:advanced") }}</span>
				<span id="searchToggleAllFields" class="action">{{ _("search:type:all_fields") }}</span>
			</div>

			<form id="search" action="/bib/basic-search">
				<table id="searchFormBasic">
					<tr>
						<td>
							<label for="author">{{ _("search:labels:author") }}:</label>
						</td>
						<td>
							<input id="author" type="text" name="author"/>
						</td>
					</tr>
					<tr>
						<td>
							<label for="title">{{ _("search:labels:title") }}:</label>
						</td>
						<td>
							<input id="title" type="text" name="title"/>
						</td>
					</tr>
					<tr>
						<td>
							<label for="year_from">{{ _("search:labels:year") }}:</label>
						</td>
						<td>
							<input id="year_from" type="number" name="year_from" min="1000" max="9999"/>
							<span>–</span>
							<input id="year_to" type="number" name="year_to" min="1000" max="9999"/>
						</td>
					</tr>
				</table>
				<table id="searchFormAdvanced" class="hidden">
					<tr>
						<td>
							<label for="added_on_from">{{ _("search:labels:added_on") }}:</label>
						</td>
						<td>
							<input id="added_on_from" type="datetime" name="added_on_from"/>
							<span>–</span>
							<input id="added_on_to" type="datetime" name="added_on_to"/>
						</td>
					</tr>
					<tr>
						<td>
							<label for="langid">{{ _("search:labels:langid") }}:</label>
						</td>
						<td>
							<select id="langid" name="langid">
								<!-- required to reduce flicking -->
								<option value="empty" selected="selected"></option>
								<option value="">{{ _("common:Any") }}</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>
							<label for="source_file">{{ _("search:labels:source_file") }}:</label>
						</td>
						<td>
							<select id="source_file" name="source_file">
								<!-- required to reduce flicking -->
								<option value="empty" selected="selected"></option>
								<option value="">{{ _("common:Any") }}</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>
							<label for="publisher">{{ _("search:labels:publisher") }}:</label>
						</td>
						<td>
							<input id="publisher" type="text" name="publisher"/>
						</td>
					</tr>
					<tr>
						<td>
							<label for="location">{{ _("search:labels:location") }}:</label>
						</td>
						<td>
							<input id="location" type="text" name="location"/>
						</td>
					</tr>
					<tr>
						<td>
							<label for="keywords">{{ _("search:labels:keywords") }}:</label>
						</td>
						<td>
							<input id="keywords" type="text" readonly="readonly" name="keywords"/>
							<div id="keywordsChooser" style="display: none;">
								<div id="keywordsHider">▲</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<label for="url">{{ _("search:labels:url") }}:</label>
						</td>
						<td>
							<select id="url" name="url">
								<option value="">{{ _("common:Doesnt_matter") }}</option>
								<option value="true">{{ _("common:Yes") }}</option>
								<option value="false">{{ _("common:No") }}</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>
							<label for="origlanguage">{{ _("search:labels:origlanguage") }}:</label>
						</td>
						<td>
							<select id="origlanguage" name="origlanguage">
								<option value="">{{ _("common:Doesnt_matter") }}</option>
								<option value="true">{{ _("common:Yes") }}</option>
								<option value="false">{{ _("common:No") }}</option>
							</select>
						</td>
					</tr>
				</table>
				<table id="searchFormAllFields" class="hidden">
					<tr>
						<td>
							<label for="all_fields">{{ _("search:labels:all_fields") }}:</label>
						</td>
						<td>
							<input id="all_fields" type="text" name="all_fields"/>
						</td>
					</tr>
				</table>
				<table>
					<tr>
						<td colspan="100"><hr/></td>
					</tr>
					<tr>
						<td>
							<label for="orderBy">{{ _("search:order_by") }}:</label>
						</td>
						<td>
							<select id="orderBy" name="orderBy">
								<option value="">{{ _("search:order_by:year_from") }}</option>
								<option value="added_on">{{ _("search:order_by:added_on") }}</option>
								<option value="source">{{ _("search:order_by:source") }}</option>
								<option value="author">{{ _("search:order_by:author") }}</option>
								<option value="location">{{ _("search:order_by:location") }}</option>
							</select>
						</td>
					</tr>
				</table>
			</form>
			<div class="center">
				<button id="submitSearch">{{ _("interface:buttons:search") }}</button>
				<button id="clearSearch">{{ _("interface:buttons:clear") }}</button>
			</div>
